body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden;
    /* Prevent horizontal scroll */
}

body.night-mode {
    background-color: #333;
    color: #fff;
}

header {
    width: 100%;
    background-color: #444;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav {
    margin: 1rem 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    padding-right: 1rem;
    /* Added right padding */
}

.container {
    text-align: center;
    padding: 3rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
    /* Adjust for fixed header */
    width: 80%;
    transition: background-color 0.3s, color 0.3s;
}

.container.night-mode {
    background-color: #444;
    color: #fff;
}

button {
    padding: 1rem 2rem;
    margin-top: 1rem;
    cursor: pointer;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button.night-mode {
    background-color: #555;
}

h1 {
    font-size: 1.5rem;
    font-family: 'Verdana', sans-serif;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}
#uuid {
    font-size: 3vw;
    /* Make the UUID font size bigger */
    display: inline-block;
    margin-right: 1rem;
    white-space: nowrap;
    /* Ensure UUID stays on one line */
    width: 100%;
    /* Make sure it stretches the available space */
    overflow: hidden;
    /* Hide any overflow */
}

.uuid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.copy-button {
    width: 115px;
    /* Fixed width for the copy button */
    padding: 11px 19px;
}

@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 0.5rem 0;
    }

    .container {
        width: 90%;
        padding: 2rem;
    }

    button {
        width: 100%;
        padding: 1rem;
    }
}

.moon-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

body.night-mode .moon-icon {
    color: #ccc;
    /* Dim white color */
}